<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form>
  <center><h2>SIGN UP FORM!</h2>
 <fieldset class="center" m-5>
  Username: <input type="text" placeholder="Enter Username"> <br><br>&nbsp;&nbsp;
  EMAIL: <input type="text" placeholder="Enter Email"> <br><br> &nbsp;&nbsp;&nbsp;
  Password: <input type="text" placeholder="Enter Password"> <br><br>&nbsp;&nbsp;&nbsp;
  Confirm: <input type="Password" placeholder="confirm  Password"> <br>

   <input type="submit" value="Sign up"><br>

 </fieldset>
      </center>


</form>

</body>
</html>